.buttons-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

p {
  font-size: 1.1rem;
  color: #f3ededf1;
}

span {
  font-weight: 500;
}

button {
  font-size: .8rem;
  padding: .5rem 1rem;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, .5);
  cursor: pointer;
  background-color: #4681f4;
  color: #ffffff;
  outline: none;
}

button:active {
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, inset 5px -1px 20px 5px rgba(0, 0, 0, 0);
}



.green {
  color: #04a504;
}

.red {
  color: #ff0000;
}

@media only screen and (min-width: 600px) {
  .buttons-container {
    flex-direction: row;
  }

  button {
    font-size: 1rem;
    padding: .5rem 2rem;
  }
}