.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem .5rem;
  height: 100vh;
  background-color: #001f3f;
}

@media only screen and (min-width: 600px) {
  .container {
    gap: 3rem
  }
}

h2 {
  color: #ffffff;
}

h3 {
  font-weight: 500;
  color: #4d8acc;
  margin-top: .8rem;
}


.container__content {
  padding: 1rem;
  color: #000000;
  background-color: #ffffff;
  width: 85%;
  height: 60%;
  text-align: start;
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.75);
}


.color-animation {
  animation: changecolor 10s infinite;
}


@keyframes changecolor {
  0% {
    background-color: rgb(233, 233, 34);
    color: rgb(37, 37, 37);
  }

  25% {
    background-color: rgb(65, 65, 248);
    color: white;
  }

  50% {
    background-color: rgb(47, 233, 47);
    color: white;
  }

  75% {
    background-color: rgb(0, 255, 221);
    color: white;
  }

  100% {
    background-color: orange;
    color: rgb(255, 255, 255);
  }
}