.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 100vh;
  background-color: #3f8080;
}

h2 {
  color: #f3eded;
}

.container__content {
  color: #000000;
  background-color: #ffffff;
  width: 80%;
  height: 50%;
  border-radius: 8px;
}